# List
*  Iteration operation with loop
*  Apply any operation on element

In [1]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"] # variable name type is List and its str
print(names)                                                # then print it

['Sir Zia', 'Muhammad Qasim', 'DR Noman']

In [8]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR. Noman"]

for name in names:                  # 1  Sir zia
      print(name)                   # 2  Muhammad Qasim
                                    # 3  DR. Noman  
      
# As like typescript 
# names = names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
# for(i=0; i<names.length; i++){
#     names[i]
# }

Sir Zia
Muhammad Qasim
DR. Noman

In [9]:
# Old code was very complex in python
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

In [10]:
# Modren code of python : for in  loop
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

Sir Zia
Muhammad Qasim
DR Noman

In [12]:
# Lets try with title() method
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

# we should remember some Indentation
    # we have combitation of state which follow a perant statment we would write as 
    # parent will left aling with no space
    # all follwing statement left align but have a tab or space
    # and then start unfollow statements again left align

#$$$$$$$$$$$$$$$
    #$$$$$$$$$$$$$$$$ 
    #$$$$$$$$$$$$$$$
    #$$$$$$$$$$$$$$$
    #$$$$$$$$$$$$$$$
    
#$$$$$$$$$$$$$$$  we will discuss it brifly

Welcome Dear Tacher Sir Zia
Welcome Dear Tacher Muhammad Qasim
Welcome Dear Tacher Dr Noman

In [14]:
# let see another Example
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

    # here for loop covering 2 statment

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [ ]:
# Here we are taking an example that when we change Indentation for loop does not consider that statement in looping
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

### Question : can we write the code like for loop that  
* i=0;i<name.length();i++
* this same above but i want to run this code only two value
how can we do this?

In [30]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[0:2]:   # as we read this in our last class Slicing method is here
    #it will run only 2 values
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Pakistan zinda bad

In [31]:
#Lets take an nagetive Example : last one value
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[-1:]:  # as we read this in our last class Slicing method is here
    #it will run only 2 values
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [32]:
# this is the example for descending means last to first
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
# like above we are using for but at this time variable type is tuple
# 
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

1. data_base: This is the variable name chosen to store the list.

2. list[tuple[str, str]]: This part defines the type annotation for the variable. It specifies that data_base is a:
* list: A collection of ordered elements.
* tuple[str, str]: Each element within the list is a tuple containing two elements, both of which are strings.

3. [("qasim",'123'), ("sirzia",'345'), ('ikhlas','789')]: This is the actual list containing three tuples. Each tuple represents a data entry with two values:
* The first element is a string, likely representing a name ("qasim", "sirzia", "ikhlas").
* The second element is also a string, possibly representing an ID ("123", "345", "789").

In simpler terms, this code creates a list named data_base that stores information like names and potentially corresponding IDs in a structured format using tuples.

Here are some additional points to consider:

The type annotation (list[tuple[str, str]]) is optional but helps improve code readability and maintainability by explicitly declaring the expected data types.
The actual data stored in the tuples might represent different information depending on the context of your code.
It's essential to ensure the data being assigned to the tuples aligns with the intended purpose and adheres to any specific requirements for data types and formats.

In [33]:
# here we are using unzip method that local variable row take one by one value and it will store local user and then password 
# it will apply on all values  

data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [34]:
# Take a input from user in run time
input_user : str = input("Enter user name")
print(input_user)
#remember we are not storing it.

Adnan

In [36]:
# data base as we define in last put correct value at this time
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
# Run time input command
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")


# for loop we have see it.
for row in data_base:
    user, password = row
    # condition we are defining it
    # check if user input is equal to our data base user and user input password is equal to data base password 
    if input_user == user and input_password == password:
        #if it is true then print Valid User 'Name'
        print(f"Valid User {user}")
        break
else:
    #and if not correct print it 'Not found or Invalid user name'
    print("Not found or Invalid user name")

Valid User qasim

In [37]:
# data base as we define in last put incorrect value at this time
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
# Run time input command
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")


# for loop we have see it.
for row in data_base:
    user, password = row
    # condition we are defining it
    # check if user input is equal to our data base user and user input password is equal to data base password 
    if input_user == user and input_password == password:
        #if it is true then print Valid User 'Name'
        print(f"Valid User {user}")
        break
else:
    #and if not correct print it 'Not found or Invalid user name'
    print("Not found or Invalid user name")

Not found or Invalid user name

In [ ]:
# Lets Learn code of for loop

names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:          #   1st time run for first value 'Sir Zia' it take and print there is another in list True
    print(name)             #   2nd              second value 'Muhammad Qasim'                                    True           
else:                       #   3rd              third value  'DR Noman'                                          False
    print("Hello world")    #   loop end then run else in Hello world

### Break

In [38]:
# Lets Learn code of for loop

names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:          #   1st time run for first value 'Sir Zia' it take and print, there is a break command
    print(name)             #   Here break will not give permit to run more,
    break                   #   Here else is also a part of for loop in this case it will not run.
else:                       #   break will through exit for else body 
    print("Hello world")    #

Sir Zia

In [ ]:
# Here else is not present and every time we should know indentation or alignment of code.
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:          #   1st time run for first value 'Sir Zia' it take and print there is another in list True
    print(name)             #   2nd              second value 'Muhammad Qasim'                                    True           
    break                   #   3rd              third value  'DR Noman'                                          False
                            #   Loop end 
print("Hello world")        #   finally print Hello world

## Indentation is necessory 
after for loop, while loop, if condition and etc, indentation is necessory, mainly 1 tab in start ot its perent

In [ ]:
# With indentation
for name in names:
    print(name)
   
print("Hello world")

In [39]:
# Without indentation
for name in names:
print(name)
    
print("Hello world")

IndentationError: expected an indented block after 'for' statement on line 2 (3004374152.py, line 3)

In [40]:
# Without indentation colun is missing
# error will be unexpected indent
for name in names         #  : is missing at the end of for loop 
    print(name)           #     SyntaxError: expected ':'
   
print("Hello world")

SyntaxError: expected ':' (2516002334.py, line 3)

In [41]:
# additional indentation is not allowed
message = "Hello Python world!" 
    print(message)              # here are Extra spaces

IndentationError: unexpected indent (3764526212.py, line 3)

In [ ]:
# Lets do some excersice with name it will revoice lessons
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you everyone, that was a great magic show!")# last message for everyone

In [44]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians)) # it give us a list and in it , a tuple, and pairs of (index number , value),

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [ ]:
# lets expolare index num , value in 
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

## Numbers with loop
* range(start,end,step)

In [45]:
range(10)

range(0, 10)

In [46]:
# full Series
list(range(10))# starting=0, ending = n-1 = 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
# Defining mid point
list(range(3,10))# starting=3, ending = n-1 = 9

[3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(2,21,2))# starting=2, ending = n-1 21-1=20, step 2 mean it will leave 1 value

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
for n in range(1,11): # Using for loop, can we print any table lets see
    print(n)

1
2
3
4
5
6
7
8
9
10

In [55]:
tablenum = input('enter table number') # here taking input in run time in number, but the value is str type
for n in range(1,11):
    print(f"{tablenum} X {n} = {int(tablenum)*n}")      # here we are mainly int(tablenum) is using to convert str to int

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [59]:
# here all we read but slowly we are going in advance 
squares:list[int] = []      # list
for value in range(1, 11):  # for loop 1 to 10
    square = value ** 2     # local variable square taking value of square
    squares.append(square)  # append we use for add in list at last
print(squares)              # it is out indentation after completing loop print squares vaiable

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
'line1'          # see this code 
'line2'          # there is no special
'line3'          # only it we are not printing it but last one in print

'line3'

# List comprehensive
*   for item in items_list:
    *   loop_body
## Comprehensive Style
* [loop_body for item in items_list]

In [62]:
# here an example 
for i in range(1,11):
    print(i**2)
# in next code will define it, how to write in comperhensive style mean short to the point style

1
4
9
16
25
36
49
64
81
100

In [64]:
# list comprehensive Style
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
# Lets try some int methods
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)           # to print
print(max(digits))      # to print a maximun number in list
print(min(digits))      # to print a manimun number in list
print(sum(digits))      # to print sum of list values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

# Tuple

In [66]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [ ]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"
# tuple can not be change

In [ ]:
names:tuple[str] = ('A',"B",'C')        # A Tuple

names:tuple[str] = ('Pakistan',"B",'C')    # reassigning Tuple 

print(names)

In [70]:
# Here a some advance Topic
# A Tuple is here and we are printing it
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)
# see this we will change in next

('A', [1, 2, 3], True)

In [75]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)   # actually we are adding in list which is in tuple 
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [76]:
sorted([7,8,1,3])   # sorted is perdifine function

[1, 3, 7, 8]