# String DATA Type
 How we can make variable and store data in type string with different way

In [12]:
print(name)

Muhammad Adnan

In [1]:
name : str = 'Muhammad Adnan'
print(name)

Muhammad Adnan

## String Data Type Assigning with different Bundries
We can write any thing in single double qoutes, triple single and triple double qoutes
we will study about it one by one

In [4]:
name : str = 'Muhammad Adnan'
fname : str = "Muhammad Shafiq"
education : str = '''BS in IT,Specialist in Python,Typesctript,'''
company : str = """Pak AI Verse"""

### String By Single Qoutes 
this is old and complex method we should know about it

In [13]:
print('We live in Pakistan')
print('we can't learn any thing with its basic')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (173406641.py, line 2)

you see the problem when we write single qoute we face problems, solution of it is below

In [14]:
print('We live in Pakistan')
print("we can't learn any thing with its basic")

We live in Pakistan
we can't learn any thing with its basic

But in many case above both methods make problem for developer when we want to concenete two or more
think about it, if we want to place variable name in it

In [17]:
name : str = 'Muhammad Adnan'
fname : str = 'Muhammad Shafiq'
education : str = 'BS in IT,Specialist in Python,Typesctript,'
company : str = "Pak AI Verse"
since : int = 38
print('Name : '+ name + 'Father Name : '+ fname + 'Education : '+ education + 'Company : '+ company )

Name : Muhammad AdnanFather Name : Muhammad ShafiqEducation : BS in IT,Specialist in Python,Typesctript,Company : Pak AI Verse

we are watching it their is no formatting
all the text in one line that is looking bad
Now we are formatting it
using \n to break line

In [19]:
name : str = 'Muhammad Adnan'
fname : str = 'Muhammad Shafiq'
education : str = 'BS in IT,Specialist in Python,Typesctript,'
company : str = "Pak AI Verse"
since : int = 38
print('Name : '+ name + '\nFather Name : '+ fname + '\nEducation : '+ education + '\nCompany : '+ company)

Name : Muhammad Adnan
Father Name : Muhammad Shafiq
Education : BS in IT,Specialist in Python,Typesctript,
Company : Pak AI Verse

if we use our above variable "since" which data type is int means number
we will face a problem see it

In [20]:
name : str = 'Muhammad Adnan'
fname : str = 'Muhammad Shafiq'
education : str = 'BS in IT,Specialist in Python,Typesctript,'
company : str = "Pak AI Verse"
since : int = 38
print('Name : '+ name + 'Father Name : '+ fname + 'Education : '+ education + 'Company : '+ company + 'Since ' + since)

TypeError: can only concatenate str (not "int") to str

This is type error because since is int, not a string.
There are so many problem in old methods, single and qouble qoutes method almost same, when we use inside single qoute then out side double qoute, and other opposite of it.

## Triple Single and double qoutes, Multiple Line String
it give us some benefit like when we write a formated data we found as it is see example.it is called Multiple Line String

In [1]:
print(
    '''
Name : ................
Father Name : .........
Age : .................
Education : ...........
'''
)

Name : ................
Father Name : .........
Age : .................
Education : ...........

First benefit is we don't need to use \n or other escape character for formatting data.
Let we want to add data in this format can we do?
let's see

In [2]:
name : str = 'Muhammad Salman'
fname : str = 'Muhammad Adnan'
age : int = 10
education : str = '4th class'
school : str = 'The Best Academy'
print(
    '''
Name : {name}
Father Name : {fname}
Age : {age}
Education : {education}
School : {school}
'''
)

Name : {name}
Father Name : {fname}
Age : {age}
Education : {education}
School : {school}

We could not find the data we saw triple qoute single and double used for formate the data but not for read the varaibles
then f-string came, we just write f before triple qoute and result is here,also there is no type error 
age variable is int f-string control all the error which we read above

In [3]:
name : str = 'Muhammad Salman'
fname : str = 'Muhammad Adnan'
age : int = 10
education : str = '4th class'
school : str = 'The Best Academy'
print(f'''
Name : {name}
Father Name : {fname}
Age : {age}
Education : {education}
School : {school}
'''
)

Name : Muhammad Salman
Father Name : Muhammad Adnan
Age : 10
Education : 4th class
School : The Best Academy

Certainly! Here are five key features of f-strings in Python:

    1-Simple Syntax: F-strings use a straightforward syntax, allowing you to embed Python expressions directly within string literals by prefixing them with 'f' or 'F'.

    2-Dynamic Formatting: F-strings allow for dynamic formatting, enabling the inclusion of variables, function calls, and even complex expressions directly within the string.

    3-Readability: F-strings enhance code readability by providing a clear and concise way to format strings, making it easier to understand and maintain.

    4-Efficiency: F-strings are efficient in terms of both performance and code writing, as they eliminate the need for additional formatting functions like .format() or % interpolation.

    5-Pythonic: F-strings adhere to the Pythonic philosophy of "There should be one-- and preferably only one --obvious way to do it," offering a preferred approach for string interpolation and formatting in modern Python code.

In [9]:
name : str = 'Muhammad Salman'
fname : str = 'Muhammad Adnan'
age : int = 10
education : str = '4th class'
school : str = 'The Best Academy'
data : str = f"""
Name : {name}
Father Name : {fname}
Age : {age}
Education : {education}
School : {school}
experience : {5+2+8}   // Now we can calculate equations
"""
print(data)

Name : Muhammad Salman
Father Name : Muhammad Adnan
Age : 10
Education : 4th class
School : The Best Academy
experience : 15   // Now we can calculate equations

Now we will see
## f-string vs jinja 
These methods are very important for new technoligies and may be will continue in future 
please remember it these both almost same functionality but syntex is change but result same
you can paractise of one but you should know about both.

f-string :    f'''string'''
f-string : f"""string"""

JINJA   : '''{{string}}'''
JINJA   : """{{string}}"""
jinja not run without server

above code for str methods, you are watching in result lets try one by one

In [27]:
name : str = 'Muhammad Salman'
fname : str = 'Muhammad Adnan'
age : int = 10
education : str = '4th class'
school : str = 'The Best Academy'
card : str = """
Name : {a}
Father Name : {b}
Age : {c}
Education : {d}
School : {e}
""".format(a=name, b=fname, c=age, d=education, e=school)

print(card)

Name : Muhammad Salman
Father Name : Muhammad Adnan
Age : 10
Education : 4th class
School : The Best Academy

.format() method pass the data to placeholder

# Top preferred style for coding

In [28]:
name : str = 'Muhammad Salman'
fname : str = 'Muhammad Adnan'
age : int = 10
education : str = '4th class'
school : str = 'The Best Academy'
data : str = f"""
Name : {name}
Father Name : {fname}
Age : {age}
Education : {education}
School : {school}
experience : {5+2+8}   // Now we can calculate equations
"""
print(data)

Name : Muhammad Salman
Father Name : Muhammad Adnan
Age : 10
Education : 4th class
School : The Best Academy
experience : 15   // Now we can calculate equations

# Use Of Globle Pre Define Function

In [11]:
{i for i in dir(str) if "_" not in i}

{'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill'}

### Lower Case()
it change str text into lowercase

In [17]:
name : str = 'MuhaMmad SalMan AnsaRi'
print('Before lower() : '+ name)
capname : str = name.lower()
print('After lower() : '+ capname)

Before lower : MuhaMmad SalMan AnsaRi
After lower : muhammad salman ansari

### Casefold()
gernally it fold str text into any same case lower or upper but mostly change in lowercase

In [41]:
name : str = 'MUHAMMAD ADNAN ANSARI'
print('Before casefold() : '+ name)
capname : str = name.casefold()
print('After casefold() : '+ capname)

Before casefold() : MUHAMMAD ADNAN ANSARI
After casefold() : muhammad adnan ansari

### upper()
it change str text into upper case

In [16]:
name : str = 'MuhaMmad SalMan AnsaRi'
print('Before upper() : '+ name)
capname : str = name.upper()
print('After upper() : '+ capname)

Before upper : MuhaMmad SalMan AnsaRi
After upper : MUHAMMAD SALMAN ANSARI

### capitalize()
it change in uppercase only first latter and remaining latter in lowercase

In [14]:
name : str = 'Muhammad Salman Ansari'
print('Before capitalize() : '+ name)
capname : str = name.capitalize()
print('After capitalize() : '+ capname)

Before capitalize : Muhammad Salman Ansari
After capitalize : Muhammad salman ansari

### title()
it change str text into lowercase

In [29]:
name : str = 'MuhaMmad SalMan AnsaRi'
print('Before title() : '+ name)
capname : str = name.title()
print('After title() : '+ capname)

Before title : MuhaMmad SalMan AnsaRi
After title : Muhammad Salman Ansari

### lstrip()
if we have a text having spacese on left side it will remove
means "         I am a girl       "
after apply this function "I am a girl       " you can not see without select it

In [43]:
text : str = "         I am a girl       "
result : str = text.lstrip()
print(result)

I am a girl

### rstrip()
if we have a text having spacese on left side it will remove
means "         I am a girl       "
after apply this function "         I am a girl"

In [44]:
text : str = "         I am a girl       "
result : str = text.rstrip()
print(result)

         I am a girl

### strip()
it will remove both side spacese
if we have a text having spacese 
means "         I am a girl       "
after apply this function "I am a girl"

In [45]:
text : str = "         I am a girl       "
result : str = text.strip()
print(result)

I am a girl